<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="discover">
			<ion-icon name="search-outline"></ion-icon>
			<ion-label>Discover</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="plus">
			<ion-icon name="cash-outline"></ion-icon>
			<ion-label>Plus</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="scanner">
			<ion-icon name="barcode-outline"></ion-icon>
			<ion-label>Scanner</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="stadistics">
			<ion-icon name="stats-chart-outline"></ion-icon>
			<ion-label>Stadistics</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="community">
			<ion-icon name="people-outline"></ion-icon>
			<ion-label>Community</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>
